@page {
  size: A4;
  margin: 0.5cm;
  position: relative;
}
html * {
  font-family: "Almarai", sans-serif;
  color: #1d4a29;
  line-height: 0rem;
  font-size: 0.75rem;
  
}

.container {
  height: 23.7cm;
  position: relative;
  background-color: white;
}
.border-wraper {
  min-height: max-content;
  height: 100%;
  position: relative;
  padding: 1cm;
  border-left: 0.03mm solid #1d4a297a;
  border-bottom: 0.03mm solid #1d4a297a;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.2cm;
}

.title-section {
  display: flex;
  gap: 0.3cm;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  color: #1d4a29;
}

.date-time {
  background-color: #dde4df;
  padding: 0.3cm;
  border-radius: 2mm;
  color: #1d4a29;
}
.mt{
  margin-top: 1cm;
}
.col{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  align-items: center;
}

.total{
  margin-top: 1cm;
  justify-content: center;
  gap: 3cm;
}
.total-item{
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5mm;
}

.new-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-title{
  gap: 0.2cm;
  padding-top: 0.3cm;
  padding-bottom: 0.3cm;
  padding-right: 0.5cm;
  margin-top: 2cm;
  border-bottom: solid 0.2mm #1d4a2950
}

.right{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  
}

.stick{
  width: 0.03mm;
  height: 100%;
}

.circule{
  width: 1.5mm;
  height: 1.5mm;
  border-radius: 100%;
  background: white;
  right: -01mm;
  position: absolute;

}









.pb{
  padding-bottom: 1cm;

}
.pt{
  padding-top: 0.5cm;
}

.item{
  
  display: flex;
  align-items: center;
  gap: 0.2cm;
  
}
.devider{
  background-color: #1d4a2950;
  width: 100%;
  height: 0.03mm;
  
}
h2{
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.8rem;
  color: #1d4a29;
}

.icon-container{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0.3cm;
  border-radius: 2mm;
}
.icon{
  width: 0.5cm;
  height: 0.5cm;
}

p{
  color: #619B55;
}





.contact {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.1cm;
  left: 0;
  bottom: 0;
  padding: 0.3cm;
  background-color: #dde4df;
  border-top-right-radius: 1cm;
}

.icons-container {
  display: flex;
  align-items: center;
  gap: 0.2cm;
}

.contact-text {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 0.5rem;
  color: #1d4a29;
  text-align: center;
}
.logo {
  width: 3cm;
  height: 1.8cm;
}
.squar-img {
  width: 2cm;
  height: 1.7cm;
}
.details-squar {
  width: 0.8cm;
  height: 0.8cm;
}
.user-img {
  width: 25%;
  min-height: max-content;
  height: 100%;
}

.social-icons {
  width: 0.3cm;
  height: 0.3cm;
}

.arabhajj-icon {
  width: 3cm;
  height: 0.8cm;
}

.shape {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4cm;
  height: 2cm;
}

